<!-- Display blog styling using Bootstrap classes -->
<div class="panel panel-default">
    <div class="panel-heading">
        <!-- Links to the individual blog post page -->
        <h3><a href="/{{p.key().id()}}">{{p.subject}}</a></h3>
        <!-- Display when post was created and by which user -->
        <p>submitted {{p.created.strftime("%b %d, %Y")}} by {{author}}</p>
    </div>
    <!-- Render blog content -->
    <div class="panel-body">
        <p>{{p._render_text | safe}}</p>
    </div>
    <!-- Display like and unlike buttons; clicking these will redirect to blog post page -->
    <div class="panel-footer">
        <a class="btn btn-default btn-sm" href="/{{p.key().id()}}/like" role="button">
            <span class="glyphicon glyphicon-thumbs-up"> {{p.likes}}</span>
        </a>
        <a class="btn btn-default btn-sm" href="/{{p.key().id()}}/unlike" role="button">
            <span class="glyphicon glyphicon-thumbs-down"> {{p.unlike}}</span>
        </a>
    </div>
</div>